* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse; /* merges double borders into one clean line */
  width: 100%;
}
